# cobol compiled files
*.o

# cobol accountsystem program
accountsystem

# node_modules
node_modules/

# node-accounting-app
node-accounting-app/*

# coverage
coverage/

# package-lock (generated)
package-lock.json
